<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>


  </head>
  <body>
    <h1>Webbassierte Videokonferenz</h1>


    <video id="localStream" width="300" controls autoplay ></video>
    </br></br>
    <video id="friendStream" width="300" controls autoplay ></video>
    </br></br>
    <label>Meine Verbindung Token</label>
    <br/><br/>
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    <br/><br/>
    <input type="text" placeholder="Your friend's token" id="txtFriendSignal">
    <br/><br/>
    <button id="btnConnect">Verbinden</button>
  </body>

  <script src="bundle.js"></script>
</html>
